<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css
/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark
bg-success">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/pesquisa/">Pesquisas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/historiainformatica/">HistoriaInformatica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/pais/">Paises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/forum/">Foruns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/empresa/">Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/figuraimportante/">FigurasImportantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/decada/">Decadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/postagemforum/">PostagensForuns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ranking/">Rankings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/topico/">Topicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/comentarioquiz/">ComentariosQuiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/comentarioforum/">ComentariosForuns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/usuario/">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/configuracao/">Configurações</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Tabela de Quizzes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Pontuacao</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Topico</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for quizzes in quizzes %}
                <tr>
                    <td>{{ quizzes.nome }}</td>
                    <td>{{ quizzes.pontuacao }}</td>
                    <td>{{ quizzes.usuario }}</td>
                    <td>{{ quizzestopico }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/di
st/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/b
ootstrap.min.js"></script>
</body>

</html>